    @font-face {
      font-family: 'Whitney A';
      src: url("https://www.sc.pages02.net/lp/39688/476082/Whitney-Book-Pro/Whitney-Book-Pro.otf") format("opentype"), url("https://www.sc.pages02.net/lp/39688/476082/Whitney-Book-Pro/7B5766823ADCCC6E7.woff2") format("woff2"), url("https://www.sc.pages02.net/lp/39688/476082/Whitney-Book-Pro/7B5766823ADCCC6E7.woff") format("woff");
      font-weight: 400;
    }

    @font-face {
      font-family: 'Whitney-Medium-Pro';
      src: url("https://www.sc.pages02.net/lp/39688/476082/Whitney-Medium-Pro/Whitney-Medium-Pro.otf") format("opentype"), url("https://www.sc.pages02.net/lp/39688/476082/Whitney-Medium-Pro/85BB350E3C5580832.woff2") format("woff2"), url("https://www.sc.pages02.net/lp/39688/476082/Whitney-Medium-Pro/85BB350E3C5580832.woff") format("woff");
      font-weight: 500;
    }

    @font-face {
      font-family: 'Whitney-BookItal-Pro';
      src: url("https://www.sc.pages02.net/lp/39688/476082/Whitney-BookItal-Pro/Whitney-BookItal-Pro.otf") format("opentype"), url("https://www.sc.pages02.net/lp/39688/476082/Whitney-BookItal-Pro/Whitney-BookItal_Web.woff2") format("woff2"), url("https://www.sc.pages02.net/lp/39688/476082/Whitney-BookItal-Pro/Whitney-BookItal_Web.woff") format("woff");
      font-weight: 400;
    }

    @font-face {
      font-family: 'Whitney-MediumItal-Pro';
      src: url("https://www.sc.pages02.net/lp/39688/476082/Whitney-MediumItal-Pro/Whitney-MediumItal-Pro.otf") format("opentype"), url("https://www.sc.pages02.net/lp/39688/476082/Whitney-MediumItal-Pro/0F84D902CA2FCC756.woff2") format("woff2"), url("https://www.sc.pages02.net/lp/39688/476082/Whitney-MediumItal-Pro/0F84D902CA2FCC756.woff") format("woff");
      font-weight: 500;
    }
